Repository scalyr/scalyr-agent-2, pull requests merged in 2020-06, with the labels that each got.

#548 AGENT-401: Implement new send rate defaults and fallback switches
  CHANGELOG.md
  scalyr_agent/agent_main.py
  scalyr_agent/configuration.py
  scalyr_agent/platform_posix.py
  scalyr_agent/scalyr_logging.py
  tests/smoke_tests/common.py
  tests/smoke_tests/verifier.py
  tests/unit/configuration_test.py
  tests/unit/copying_manager_test.py
  tests/unit/log_processing_test.py
Labels: config: default value change

#558 Fix codecov coverage data upload
  .circleci/config.yml
  dev-requirements.txt
  scripts/submit-codecov-data.sh
Labels: service: codecov

#555 Add a script which verifies /addEvents API returns correct response headers
  .circleci/config.yml
  scripts/verify-add-events-api-response-headers.py
Labels: service: circle ci

#560 Add SonarCloud config, various small code fixes
  .circleci/modernize/modernize.py
  .sonarcloud.properties
  README.md
  benchmarks/micro/utils.py
  benchmarks/scripts/send_microbenchmarks_data_to_codespeed.py
  benchmarks/scripts/send_usage_data_to_codespeed.py
  benchmarks/scripts/send_value_to_codespeed.py
  benchmarks/scripts/utils.py
  build_package.py
  pylint_plugins/bundled_imports_checker.py
  pylint_plugins/py2exe_checker.py
  scalyr_agent/build_info.py
  scalyr_agent/builtin_monitors/docker_monitor.py
  scalyr_agent/builtin_monitors/journald_monitor.py
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
  scalyr_agent/compat.py
  scalyr_agent/config_main.py
  scalyr_agent/date_parsing_utils.py
  scalyr_agent/json_lib/objects.py
  scalyr_agent/log_processing.py
  scalyr_agent/monitor_utils/blocking_rate_limiter.py
  scalyr_agent/monitor_utils/k8s.py
  scalyr_agent/monitors_manager.py
  scalyr_agent/platform_controller.py
  scalyr_agent/profiler.py
  scalyr_agent/scalyr_logging.py
  scalyr_agent/scalyr_monitor.py
  scalyr_agent/test_base.py
  scalyr_agent/util.py
  scripts/circleci_usage_data.py
  scripts/verify-add-events-api-response-headers.py
  tests/ami/packages_sanity_tests.py
  tests/ami/utils.py
  tests/common.py
  tests/smoke_tests/monitors_test/mysql_test.py
  tests/smoke_tests/monitors_test/nginx_test.py
  tests/smoke_tests/monitors_test/shell_monitor_test.py
  tests/smoke_tests/monitors_test/syslog_test.py
  tests/smoke_tests/monitors_test/url_monitor_test.py
  tests/unit/scalyr_logging_test.py
  tests/unit/test_memory_leaks.py
  tests/utils/agent_runner.py
  tests/utils/image_builder.py
  tests/utils/log_reader.py
Labels: service: sonar cloud

#563 Fix small style related issues detected by Sonar Cloud
  .sonarcloud.properties
  scalyr_agent/agent_main.py
  scalyr_agent/builtin_monitors/docker_monitor.py
  scalyr_agent/builtin_monitors/graphite_monitor.py
  scalyr_agent/builtin_monitors/journald_monitor.py
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
  scalyr_agent/builtin_monitors/mysql_monitor.py
  scalyr_agent/builtin_monitors/postgres_monitor.py
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
  scalyr_agent/builtin_monitors/windows_system_metrics.py
  scalyr_agent/configuration.py
  scalyr_agent/monitors_manager.py
  scalyr_agent/platform_posix.py
  scalyr_agent/scalyr_logging.py
  scalyr_agent/util.py
  tests/distribution/python_version_change_tests/common.py
  tests/smoke_tests/verifier.py
  tests/unit/syslog_monitor_test.py
Labels: service: sonar cloud

#553 Add lint check which will fail if any of the bundled certs will expire in 6 months or sooner
  build_package.py
  scripts/check-bundled-ca-certs-expirations.py
  scripts/circleci/verify-codecov-config.sh
  tox.ini
Labels: service: circle ci, tests: lint checks

#538 Windows packaging with pyinstaller.
  .circleci/config.yml
  build_package.py
  lint-configs/python/mypy.ini
  scalyr_agent/__scalyr__.py
  scalyr_agent/build_info.py
  scalyr_agent/builtin_monitors/windows_system_metrics.py
  scalyr_agent/platform_windows.py
  scripts/circleci/run-ami-tests-in-bg.sh
  tests/ami/README.md
  tests/ami/cleanup_old_test_instances.py
  tests/ami/packages_sanity_tests.py
  tests/ami/requirements.txt
  tests/ami/scripts/cat_logs.ps1
  tests/ami/scripts/cat_logs.sh
  tests/ami/scripts/fresh_install_deb.sh.j2
  tests/ami/scripts/fresh_install_rpm.sh.j2
  tests/ami/scripts/test_deb.sh.j2
  tests/ami/scripts/test_rpm.sh.j2
  tests/ami/scripts/test_windows.ps1.j2
  tests/ami/scripts/upgrade_install_deb.sh.j2
  tests/ami/scripts/upgrade_install_rpm.sh.j2
  tests/ami/windows/install_openssh.ps1
  tests/unit/test_build_info.py
  tox.ini
  win32/ScalyrShell.cmd
  win32/build.ps1
  win32/scalyr-agent.spec
  win32/scalyr_agent.wxs
  win32/wix-heat-bin-transform.xsl
Labels: platform: windows, tests: ami, tests: package tests

#573 Also run install only tests inside the AMI tests job
  .circleci/config.yml
  scripts/circleci/run-ami-tests-in-bg.sh
  tests/ami/packages_sanity_tests.py
  tests/ami/scripts/test_deb.sh.j2
  tests/ami/scripts/test_rpm.sh.j2
  tests/smoke_tests/verifier.py
Labels: tests: ami

#571 SonarCloud integration though our CI system (Circle CI)
  .circleci/config.yml
  .sonarcloud.properties
  scripts/circleci/download-coverage-data-from-s3.py
  scripts/circleci/upload-coverage-data-to-s3.py
  tests/utils/agent_runner.py
  tox.ini
Labels: service: circle ci, service: sonar cloud

#575 Also run AMI end to end package tests in Debian 10 & Amazon Linux 2
  .circleci/config.yml
  scripts/circleci/run-ami-tests-in-bg.sh
  tests/ami/README.md
  tests/ami/packages_sanity_tests.py
Labels: tests: ami

#578 Update AMI tests to cover Ubuntu system with yum-utils package scenario
  scripts/circleci/run-ami-tests-in-bg.sh
Labels: tests: ami

#577 Post benchmark result graphs to Slack on master merge
  .circleci/config.yml
  scripts/phantomjs/capture_codespeed_graphs_screenshots.js
  scripts/send-benchmark-completion-notification-to-slack.py
Labels: continuous benchmarking

#584 Workaround for Circle CI unittest step timing out in the unittest-35-windows job, upgrade dependencies, re-enable coverage for windows unittest job
  .circleci/config.yml
  dev-requirements.txt
  tox.ini
  windows-unit-tests-requirements.txt
Labels: platform: windows, service: circle ci, tests: unit tests

#586 Correctly exclude some tests directories from coverage data on Windows.
  .circleci/.coveragerc_ci
  .coveragerc
  .sonarcloud.properties
Labels: platform: windows, tests: code coverage, tests: unit tests
