Repository scalyr/scalyr-agent-2, pull requests merged in 2020-11, with the labels that each got.

#647 Docker monitor "docker_raw_logs: false" and related bug fixes
  .circleci/config.yml
  .circleci/docker_unified_smoke_unit/smoketest/smoketest.py
  .circleci/smoketest_docker.sh
  CHANGELOG.md
  build_package.py
  docker/Dockerfile.docker_monitor_testing_config
  docker/docker-api-config/agent.d/docker.json
  docker/docker-api-config/agent.json
  lint-configs/python/mypy.ini
  scalyr_agent/builtin_monitors/docker_monitor.py
  scripts/print-to-stdout-stderr.sh
Labels: code: monitors, monitors: docker

#650 New diskperf error check
  CHANGELOG.md
  scalyr_agent/builtin_monitors/windows_system_metrics.py
  tests/unit/builtin_monitors/linux_system_metrics_test.py
  tests/unit/builtin_monitors/test_windows_system_metrics.py
Labels: code: monitors, monitors: windows system metrics

#645 Update syslog monitor so we allow messages which span multiple TCP packets and exceed "tcp_max_buffer" in size when "tcp_unlimited_buffer_size" monitor config option is true
  CHANGELOG.md
  docs/monitors/syslog_monitor.md
  scalyr_agent/builtin_monitors/syslog_monitor.py
  scalyr_agent/test_base.py
  tests/unit/syslog_monitor_test.py
Labels: code: monitors, monitors: syslog

#658 Update URL monitor so we send correct User-Agent header
  .circleci/config.yml
  CHANGELOG.md
  scalyr_agent/builtin_monitors/url_monitor.py
  scalyr_agent/config_main.py
  tests/unit/builtin_monitors/url_monitor_test.py
  tests/unit/url_monitor_test.py
Labels: code: monitors
