Repository scalyr/scalyr-agent-2, pull requests merged in 2020-05, with the labels that each got.

#530 Add monitor utils tests to tox targets.
  scalyr_agent/monitor_utils/k8s.py
  scalyr_agent/monitor_utils/tests/k8s_test.py
  tox.ini
Labels: tests: unit tests

#546 Fix unit and smoke tests failure under Python 2.6
  .circleci/config.yml
  py26-unit-tests-requirements.txt
  tests/unit/builtin_monitors/linux_process_metrics_test.py
  tests/unit/linux_process_metrics_test.py
Labels: python: python 2.6, service: circle ci, tests: legacy smoke tests, tests: unit tests

#547 Update verify codecov config script to print response on failure and abort immediately on fatal error
  scripts/circleci/verify-codecov-config.sh
Labels: service: circle ci, service: codecov
