Repository scalyr/scalyr-agent-2, pull requests merged in 2020-03, with the labels that each got.

#434 AGENT-342: Add python check in rpm/deb package pre-install script.
  build_package.py
  installer/scripts/postinstall.sh
  installer/scripts/preinstall.sh
  installer/scripts/preuninstall.sh
Labels: packaging

#439 Add lint check for shell scripts
  .circleci/config.yml
  .circleci/docker_unified_smoke_unit/unittest/unittest.sh
  .circleci/smoketest_docker.sh
  .pre-commit-config.yaml
  benchmarks/scripts/common.sh
  benchmarks/scripts/send-log-level-counts-to-codespeed.sh
  benchmarks/scripts/start-agent-and-capture-metrics.sh
  benchmarks/scripts/write-random-lines.sh
  installer/scripts/postinstall.sh
  installer/scripts/preinstall.sh
  installer/scripts/preuninstall.sh
  performance/kops_cluster_setup/create_agentscale_yaml.sh
  scripts/shell-scripts-lint.sh
Labels: tests: lint checks

#442 Add longer running agent benchmarks
  .circleci/config.yml
Labels: continuous benchmarking

#450 Update Circle CI usage data script to support multiple workflows
  .circleci/config.yml
  scripts/circleci_usage_data.py
Labels: service: circle ci

#452 Retry codecov report upload in timeout / failure
  .circleci/config.yml
  scripts/shell-scripts-lint.sh
  scripts/submit-codecov-data.sh
Labels: service: codecov

#454 Fix shell and URL monitor - make sure we are always working with unicode
  scalyr_agent/builtin_monitors/shell_monitor.py
  scalyr_agent/builtin_monitors/tests/shell_monitor_test.py
  scalyr_agent/builtin_monitors/tests/url_monitor_test.py
  scalyr_agent/builtin_monitors/url_monitor.py
  tox.ini
Labels: code: monitors, python 2 and 3 compatibility

#457 Enable branch level coverage tracking and reporting
  .circleci/.coveragerc_ci
  .coveragerc
  build_package.py
Labels: service: codecov

#461 Run lint checks on smoke_tests/ directory
  smoke_tests/tools/compat/__init__.py
  smoke_tests/tools/package/__init__.py
  tox.ini
Labels: tests: lint checks

#462 Hook monitor documentation generation to CI
  .circleci/config.yml
  docs/READE.md
  docs/monitors/apache_monitor.md
  docs/monitors/docker_monitor.md
  docs/monitors/garbage_monitor.md
  docs/monitors/graphite_monitor.md
  docs/monitors/journald_monitor.md
  docs/monitors/kubernetes_events_monitor.md
  docs/monitors/kubernetes_monitor.md
  docs/monitors/linux_process_metrics.md
  docs/monitors/linux_system_metrics.md
  docs/monitors/mysql_monitor.md
  docs/monitors/nginx_monitor.md
  docs/monitors/postgres_monitor.md
  docs/monitors/redis_monitor.md
  docs/monitors/shell_monitor.md
  docs/monitors/snmp_monitor.md
  docs/monitors/syslog_monitor.md
  docs/monitors/tomcat_monitor.md
  docs/monitors/windows_event_log_monitor.md
  docs/monitors/windows_process_metrics.md
  docs/monitors/windows_system_metrics.md
  scalyr_agent/builtin_monitors/apache_monitor.py
  scalyr_agent/builtin_monitors/docker_monitor.py
  scalyr_agent/builtin_monitors/graphite_monitor.py
  scalyr_agent/builtin_monitors/journald_monitor.py
  scalyr_agent/builtin_monitors/kubernetes_events_monitor.py
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
  scalyr_agent/builtin_monitors/mysql_monitor.py
  scalyr_agent/builtin_monitors/nginx_monitor.py
  scalyr_agent/builtin_monitors/redis_monitor.py
  scalyr_agent/builtin_monitors/shell_monitor.py
  scalyr_agent/builtin_monitors/snmp_monitor.py
  scalyr_agent/builtin_monitors/syslog_monitor.py
  scalyr_agent/builtin_monitors/tomcat_monitor.py
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
  scalyr_agent/scalyr_monitor.py
  scripts/generate-docs-for-all-monitors.sh
  scripts/print_monitor_doc.py
  tox.ini
Labels: documentation

#468 Tests for nginx, apache, tomcat monitor, url, shell, linux process and linux system monitors
  CHANGELOG.md
  dev-requirements.txt
  docs/monitors/linux_process_metrics.md
  docs/monitors/linux_system_metrics.md
  py26-unit-tests-requirements.txt
  scalyr_agent/builtin_monitors/apache_monitor.py
  scalyr_agent/builtin_monitors/linux_process_metrics.py
  scalyr_agent/builtin_monitors/linux_system_metrics.py
  scalyr_agent/builtin_monitors/nginx_monitor.py
  scalyr_agent/builtin_monitors/shell_monitor.py
  scalyr_agent/builtin_monitors/tests/apache_monitor_test.py
  scalyr_agent/builtin_monitors/tests/garbage_monitor_test.py
  scalyr_agent/builtin_monitors/tests/linux_process_metrics_test.py
  scalyr_agent/builtin_monitors/tests/linux_system_metrics_test.py
  scalyr_agent/builtin_monitors/tests/nginx_monitor_test.py
  scalyr_agent/builtin_monitors/tests/shell_monitor_test.py
  scalyr_agent/builtin_monitors/tests/tomcat_monitor_test.py
  scalyr_agent/builtin_monitors/tests/url_monitor_test.py
  scalyr_agent/builtin_monitors/tomcat_monitor.py
  scalyr_agent/builtin_monitors/url_monitor.py
  scalyr_agent/test_base.py
  scripts/generate-docs-for-all-monitors.sh
Labels: code: monitors, tests: unit tests

#402 Add two new metrics to linux process metrics monitor and other small improvements
  .circleci/config.yml
  CHANGELOG.md
  docs/monitors/linux_process_metrics.md
  scalyr_agent/builtin_monitors/linux_process_metrics.py
  scalyr_agent/tests/fixtures/proc_1125_stat
  scalyr_agent/tests/linux_process_metrics_test.py
Labels: monitors
