Repository scalyr/scalyr-agent-2, pull requests merged in 2021-01, with the labels that each got.

#685 Add worker log status
  scalyr_agent/agent_main.py
  scalyr_agent/agent_status.py
  scalyr_agent/builtin_monitors/linux_process_metrics.py
  scalyr_agent/configuration.py
  scalyr_agent/copying_manager/copying_manager.py
  scalyr_agent/copying_manager/worker.py
  scalyr_agent/platform_linux.py
  scalyr_agent/scalyr_client.py
  tests/unit/linux_process_metrics_test.py
Labels: feature: multi process workers

#689 Update shell monitor output to also include "duration" and "exit_code" fields
  CHANGELOG.md
  scalyr_agent/builtin_monitors/shell_monitor.py
  tests/unit/builtin_monitors/shell_monitor_test.py
Labels: monitors: shell monitor

#694 Also validate changelog syntax / formatting in the RPM package
  .circleci/config.yml
  CHANGELOG.md
  scalyr_agent/builtin_monitors/syslog_monitor.py
  scripts/circleci/validate-deb-changelog.sh
  scripts/circleci/validate-rpm-changelog.sh
  tests/unit/syslog_monitor_test.py
Labels: packaging, packaging: rpm

#701 Improve code coverage reporting
  .circleci/.coveragerc_ci
  .circleci/config.yml
  .coveragerc
  .sonarcloud.properties
  scripts/circleci/upload-coverage-data-to-s3.py
  tox.ini
Labels: tests: code coverage

#708 Fix "create deb and rpm packages for installer" Circle CI build job
  .circleci/config.yml
Labels: service: circle ci

#712 Windows package transition to python 3.
  .circleci/config.yml
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
  scalyr_agent/platform_windows.py
  tests/ami/scripts/partial/restart_agent_and_remove_logs.ps1.j2
  tests/ami/scripts/partial/ssl_checks.sh.j2
  tests/ami/scripts/test_windows.ps1.j2
  win32/scalyr-agent.spec
  win32/windows-build-requirements.txt
Labels: platform: windows, python 3

#719 Add additional safety checks to the ami-tests-stable job
  tests/ami/scripts/test_deb.sh.j2
  tests/ami/scripts/test_rpm.sh.j2
Labels: tests: ami
