Repository scalyr/scalyr-agent-2, pull requests merged in 2021-12, with the labels that each got.

#796 Add new "collect_replica_metrics" config option to the MySQL monitor
  CHANGELOG.md
  docs/monitors/mysql_monitor.md
  scalyr_agent/builtin_monitors/mysql_monitor.py
  tests/unit/builtin_monitors/mysql_monitor_test.py
Labels: code: monitors, monitors: mysql

#745 Add "server_url" config entry to worker config.
  CHANGELOG.md
  scalyr_agent/configuration.py
  scalyr_agent/copying_manager/worker.py
  scalyr_agent/scalyr_client.py
  tests/unit/configuration_test.py
Labels: feature: multi process workers

#799 Publish Docker images to testing Docker Hub account
  .github/workflows/agent-build.yml
  .github/workflows/docker-and-k8s.yml
Labels: distribution: docker image

#800 Add docker images push by tag
  .circleci/config.yml
  .circleci/modernize/modernize.py
  .github/workflows/docker-and-k8s.yml
  VERSION
  scripts/cicd/verify_and_get_image_tag_to_publish.py
  tests/image_builder/distributions/amazonlinux2/Dockerfile.base
  tests/image_builder/distributions/amazonlinux2/__init__.py
  tests/image_builder/distributions/centos6/Dockerfile.base
  tests/image_builder/distributions/centos6/__init__.py
  tests/image_builder/distributions/centos7/Dockerfile.base
  tests/image_builder/distributions/centos7/__init__.py
  tests/image_builder/distributions/centos8/Dockerfile.base
  tests/image_builder/distributions/centos8/__init__.py
  tests/image_builder/distributions/ubuntu1404/Dockerfile.base
  tests/image_builder/distributions/ubuntu1404/__init__.py
  tests/image_builder/distributions/ubuntu1604/Dockerfile.base
  tests/image_builder/distributions/ubuntu1604/__init__.py
  tests/image_builder/distributions/ubuntu1804/Dockerfile.base
  tests/image_builder/distributions/ubuntu1804/__init__.py
  tests/image_builder/monitors/base/__init__.py
  tests/utils/image_builder.py
Labels: distribution: docker image

#801 Add support for Alpine Linux based Docker images
  .circleci/smoketest_docker.sh
  .circleci/smoketest_k8s.sh
  .github/workflows/agent-build.yml
  .github/workflows/docker-and-k8s.yml
  BUILD.md
  CHANGELOG.md
  Dockerfile
  Dockerfile.alpine
  agent_build/package_builders.py
  agent_build/tools/constants.py
  agent_build/tools/files_checksum_tracker.py
  build_package_new.py
  docker/requirements-alpine.txt
  docker/requirements.txt
  scripts/cicd/verify_and_get_image_tag_to_publish.py
  tests/package_tests/all_package_tests.py
Labels: distribution: docker image

#802 Use Docker Hub credentials for main scalyr account
  .github/workflows/agent-build.yml
  .github/workflows/docker-and-k8s.yml
  Dockerfile.alpine
Labels: distribution: docker image

#804 Use self hosted runners for Docker build jobs
  .github/workflows/agent-build.yml
  .github/workflows/docker-and-k8s.yml
  tests/package_tests/internals/common.py
  tests/package_tests/internals/k8s_test.py
Labels: distribution: docker image
