Repository scalyr/scalyr-agent-2, pull requests merged in 2022-10, with the labels that each got.

#1002 Decrease cert expiration alerting threshold from 2 years to 1 year
  scripts/check-bundled-ca-certs-expirations.py
Labels: tests: lint checks

#1003 Upgrade Python version uses by Docker images, Windows binary
  .circleci/config.yml
  CHANGELOG.md
  agent_build/docker/Dockerfile.base
Labels: distribution: docker image, distribution: windows installer

#1004 Unit tests for #999 (k8s cache PodProcessor infinite loop issue)
  .github/workflows/agent-build.yml
  .github/workflows/publish-docker-images.yml
  CHANGELOG.md
  scalyr_agent/monitor_utils/k8s.py
  tests/unit/monitor_utils/k8s_test.py
Labels: bug, tests: unit tests

#991 Doc 174 doc strings for redis, shell, snmp, syslog, url, windows event log, windows process, and windows system
  docs/monitors/redis_monitor.md
  docs/monitors/shell_monitor.md
  docs/monitors/snmp_monitor.md
  docs/monitors/syslog_monitor.md
  docs/monitors/url_monitor.md
  docs/monitors/windows_event_log_monitor.md
  docs/monitors/windows_process_metrics.md
  docs/monitors/windows_system_metrics.md
  scalyr_agent/builtin_monitors/redis_monitor.py
  scalyr_agent/builtin_monitors/shell_monitor.py
  scalyr_agent/builtin_monitors/snmp_monitor.py
  scalyr_agent/builtin_monitors/syslog_monitor.py
  scalyr_agent/builtin_monitors/url_monitor.py
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
  scalyr_agent/builtin_monitors/windows_process_metrics.py
  scalyr_agent/builtin_monitors/windows_system_metrics.py
Labels: documentation

#1005 Agent connection logging improvements and misc changes
  CHANGELOG.md
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
  scalyr_agent/configuration.py
  scalyr_agent/scalyr_client.py
Labels: code: logging, component: scalyr http client

#1006 Upgrade docker-py to 6.0.0
  CHANGELOG.md
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build/requirement-files/testing-requirements.txt
Labels: dependencies, distribution: docker image, environment: docker

#1007 Update k8s monitor to also log value of SCALYR_K8S_EVENTS_DISABLE environment variable
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
Labels: monitors: kubernetes

#1008 Upgrade dependencies, prepare changes for v2.1.37 release
  CHANGELOG.md
  VERSION
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build/requirement-files/main-requirements.txt
Labels: dependencies, dependencies: python

#997 windows_event_log_monitor: NewJsonApi: Ensure formatting when RateLim…
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
  tests/unit/builtin_monitors/windows_event_log_monitor_test.py
Labels: monitors: windows event log

#989 Added quoted text to windows event log monitor ami test
  tests/ami/scripts/test_windows.ps1.j2
Labels: tests: ami

#1009 Use non-EOL Node.js 16 instead of Node.js 12 in our custom GHA actions
  .github/actions/execute-runner/action.yml
  .github/actions/perform-deployment/action.yml
Labels: service: gha, github_actions

#1018 Use non vulnerable requests version in the windows unit tests
  windows-unit-tests-requirements.txt
Labels: tests: unit tests, platform: windows
