Repository scalyr/scalyr-agent-2, pull requests merged in 2022-07, with the labels that each got.

#926 Enable additional Kubernetes metrics collection via global config option
  .github/workflows/agent-build.yml
  docker/k8s-config/agent.d/k8s_open_metrics_monitor.json
  scalyr_agent/builtin_monitors/kubernetes_events_monitor.py
  scalyr_agent/builtin_monitors/kubernetes_openmetrics_monitor.py
  scalyr_agent/configuration.py
  tests/e2e/k8s_om_monitor/scalyr-agent-2-daemonset.yaml
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
  tests/unit/configuration_k8s_test.py
Labels: monitors: kubernetes open metrics, monitors: kubernetes events

#934 Fix sample interval overriding in the Windows System and Windows Process monitor
  CHANGELOG.md
  scalyr_agent/builtin_monitors/windows_process_metrics.py
  scalyr_agent/builtin_monitors/windows_system_metrics.py
  tests/unit/builtin_monitors/test_windows_process_metrics.py
  tests/unit/builtin_monitors/test_windows_system_metrics.py
Labels: platform: windows, monitors: windows system metrics, monitors: windows process metrics

#935 Fix a bug with "import_vars" functionality which would not work correctly when multiple variables used the same common prefix
  CHANGELOG.md
  conftest.py
  scalyr_agent/agent_main.py
  scalyr_agent/configuration.py
  tests/unit/configuration_test.py
  tests/unit/log_processing_test.py
  tests/unit/util/json_util_test.py
Labels: environment: kubernetes

#936 Upgrade dependencies used by the Docker images
  CHANGELOG.md
  agent_build/requirement-files/compression-requirements.txt
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build/requirement-files/main-requirements.txt
  agent_build/requirement-files/testing-requirements.txt
  lint-requirements.txt
Labels: dependencies, environment: kubernetes, environment: docker

#821 Remove support for ujson in favor of orjson
  CHANGELOG.md
  agent_build/requirement-files/testing-requirements.txt
  benchmarks/micro/test_json_serialization.py
  scalyr_agent/configuration.py
  scalyr_agent/util.py
  tests/unit/configuration_test.py
  tests/unit/util/json_util_test.py
  windows-unit-tests-requirements.txt
Labels: dependencies, dependencies: python, functionality: json encode/decode

#938 Remove optional pyyaml dependency used by tests
  agent_build/requirement-files/testing-requirements.txt
  benchmarks/scripts/send_usage_data_to_codespeed.py
  tests/conftest.py
  windows-unit-tests-requirements.txt
Labels: dependencies

#908 Fix kubernetes_events.log duplication
  .github/workflows/end_to_end_tests.yml
  CHANGELOG.md
  scalyr_agent/builtin_monitors/kubernetes_events_monitor.py
Labels: monitors, monitors: kubernetes events

#940 Improvements for the client (agent) side rate calculation
  scalyr_agent/builtin_monitors/kubernetes_openmetrics_monitor.py
  scalyr_agent/configuration.py
  scalyr_agent/instrumentation/__init__.py
  scalyr_agent/instrumentation/decorators.py
  scalyr_agent/instrumentation/timing.py
  scalyr_agent/metrics/base.py
  scalyr_agent/metrics/functions.py
  scalyr_agent/scalyr_logging.py
  scalyr_agent/util.py
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
  tests/unit/scalyr_logging_test.py
  tests/unit/test_instrumentation.py
  tests/unit/test_metrics_functions.py
  tests/unit/test_util_test.py
Labels: code: metrics, functionality: agent rate calculation

#941 Fix config export config
  CHANGELOG.md
  agent_build/package_builders.py
  build_package.py
  scalyr_agent/config_main.py
  tests/package_tests/internals/docker_test.py
  tests/unit/agent_main_test.py
Labels: distribution: docker image, environment: docker, code: scalyr config

#942 Instrumentation logging improvements
  scalyr_agent/agent_main.py
  scalyr_agent/builtin_monitors/kubernetes_events_monitor.py
  scalyr_agent/configuration.py
  scalyr_agent/instrumentation/constants.py
  scalyr_agent/metrics/base.py
  scalyr_agent/metrics/functions.py
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
  tests/unit/scalyr_logging_test.py
  tests/unit/test_metrics_functions.py
Labels: code: logging, monitors: kubernetes events, code: metrics

#943 Introduce clean up routine for RateMetricFunction, fix log function argument order
  scalyr_agent/configuration.py
  scalyr_agent/metrics/base.py
  scalyr_agent/metrics/functions.py
  tests/unit/scalyr_logging_test.py
  tests/unit/test_metrics_functions.py
Labels: code: metrics, functionality: agent rate calculation

#946 Include full module name in the agent log messages
  CHANGELOG.md
  scalyr_agent/scalyr_logging.py
  tests/smoke_tests/monitors_test/postgres_test.py
  tests/unit/builtin_monitors/kubernetes_monitor_test.py
  tests/unit/scalyr_logging_test.py
  tests/utils/log_reader.py
Labels: code: logging

#947 Add tests for AgentLogFormatter.format() fqname handling
  tests/unit/scalyr_logging_test.py
Labels: tests: unit tests, code: logging

#948 Turn container metrics request error to warning.
  CHANGELOG.md
  scalyr_agent/builtin_monitors/docker_monitor.py
  scalyr_agent/monitor_utils/k8s.py
Labels: monitors: docker, environment: docker, tests: smoke tests
