Repository scalyr/scalyr-agent-2, pull requests merged in 2022-06, with the labels that each got.

#890 Escape special metric field names which are considered special / reserved
  CHANGELOG.md
  scalyr_agent/scalyr_logging.py
  tests/unit/scalyr_logging_test.py
Labels: code: logging, code: monitors

#892 Fix for syslog monitor issue on Windows when using TCP protocol
  .circleci/config.yml
  CHANGELOG.md
  scalyr_agent/builtin_monitors/syslog_monitor.py
  tests/unit/syslog_monitor_test.py
Labels: bug, code: monitors, platform: windows, monitors: syslog

#891 Client side rate calculation for counter metrics
  scalyr_agent/agent_main.py
  scalyr_agent/builtin_monitors/kubernetes_openmetrics_monitor.py
  scalyr_agent/configuration.py
  scalyr_agent/metrics/__init__.py
  scalyr_agent/metrics/base.py
  scalyr_agent/metrics/functions.py
  scalyr_agent/scalyr_logging.py
  scalyr_agent/scalyr_monitor.py
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
  tests/unit/scalyr_logging_test.py
  win32/dynamic_modules.py
Labels: code: monitors, code: metrics

#894 Improve Kubernetes Open Metrics monitor end to end tests
  .github/workflows/end_to_end_tests.yml
  tests/e2e/k8s_om_monitor/java_app_deployment.yaml
Labels: tests: end to end tests, monitors: kubernetes open metrics

#900 Fix empty command parsing in agent_main.py
  CHANGELOG.md
  scalyr_agent/agent_main.py
  tests/unit/agent_main_test.py
Labels: bug, platform: all, code: cli arg parsing

#902 Reduce permissions for GHA token used by GHA workflows to the minimum
  .github/workflows/agent-build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/end_to_end_tests.yml
  .github/workflows/publish-docker-images.yml
Labels: service: gha, ci/cd

#906 Fix invalid end of the json parsing.
  CHANGELOG.md
  scalyr_agent/json_lib/parser.py
  tests/unit/configuration_test.py
  tests/unit/json_lib/parser_test.py
Labels: code: config json parsing

#901 Upgrade orjson dependency used by Docker images to 3.7.3
  CHANGELOG.md
  agent_build/docker/Dockerfile.base
  agent_build/requirement-files/main-requirements.txt
Labels: distribution: docker image, dependencies: python

#910 Add missing GHA token permission
  .github/workflows/end_to_end_tests.yml
Labels: service: gha, ci/cd

#885 Also run Kubernetes end to end tests under Kubernetes v1.24.0
  .circleci/config.yml
  .github/actions/setup-minikube-cluster/action.yml
  .github/workflows/end_to_end_tests.yml
Labels: tests: end to end tests, environment: kubernetes

#881 Add new Docker k8s image builder for k8s deployment with new Kubernetes Open Metrics monitor
  .github/workflows/agent-build.yml
  .github/workflows/publish-docker-images.yml
  agent_build/package_builders.py
  docker/k8s-config-with-openmetrics-monitor/agent.d/api-key.json
  docker/k8s-config-with-openmetrics-monitor/agent.d/docker.json
  docker/k8s-config-with-openmetrics-monitor/agent.d/k8s_events.json
  docker/k8s-config-with-openmetrics-monitor/agent.d/k8s_open_metrics_monitor.json
  docker/k8s-config-with-openmetrics-monitor/agent.d/scalyr-server.json
  docker/k8s-config-with-openmetrics-monitor/agent.json
  tests/package_tests/all_package_tests.py
  tests/package_tests/internals/common.py
  tests/package_tests/internals/k8s_test.py
Labels: distribution: docker image, monitors: kubernetes open metrics

#914 Add dependabot config
  .github/dependabot.yml
Labels: service: gha
