Repository scalyr/scalyr-agent-2, pull requests merged in 2022-08, with the labels that each got.

#953 Log server SSL certificate in PEM format on certificate validation failure
  CHANGELOG.md
  scalyr_agent/connection.py
  tests/unit/connection_test.py
  tests/unit/fixtures/certs/ca_certs.crt
Labels: code: ssl/tls

#952 Update bundled CA certs and add additional LetsEncrypt root CA cert
  CHANGELOG.md
  certs/letsencrypt_isrg_root_x1_selfsigned_root.pem
  certs/letsencrypt_isrg_root_x2_selfsigned_root.pem
Labels: code: ssl/tls

#951 Add check for dead essential monitors
  .github/actions/perform-deployment/action.yml
  .github/actions/perform-deployment/dist/index.js
  .github/actions/perform-deployment/index.js
  .github/workflows/end_to_end_tests.yml
  .gitignore
  agent_build/package_builders.py
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build/requirement-files/testing-requirements.txt
  agent_build/tools/common.py
  agent_build/tools/environment_deployments/deployments.py
  scalyr_agent/agent_main.py
  scalyr_agent/agent_status.py
  scalyr_agent/configuration.py
  scalyr_agent/monitors_manager.py
  scalyr_agent/scalyr_monitor.py
  tests/credentials_template.json
  tests/end_to_end_tests/__init__.py
  tests/end_to_end_tests/conftest.py
  tests/end_to_end_tests/pytest.ini
  tests/end_to_end_tests/test_from_source/fixtures/monitors/__init__.py
  tests/end_to_end_tests/test_from_source/fixtures/monitors/essential_failing_monitor.py
  tests/end_to_end_tests/test_from_source/test_from_source.py
  tests/end_to_end_tests/tools.py
  tests/end_to_end_tests/verify.py
  tests/unit/agent_main_test.py
  tests/unit/configuration_test.py
  tests/unit/monitors_manager_test.py
Labels: code: monitors, environment: kubernetes

#944 CT-528
  agent_build/requirement-files/main-requirements.txt
  agent_build/requirement-files/testing-requirements.txt
  docs/README.md
  docs/monitors/windows_event_log_monitor.md
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
  scalyr_agent/third_party/README.md
  tests/ami/requirements.txt
  tests/unit/builtin_monitors/windows_event_log_monitor_test.py
  win32/windows-build-requirements.txt
  windows-unit-tests-requirements.txt
Labels: platform: windows, monitors: windows event log

#954 Add new build k8s kill on monitors death
  .github/workflows/agent-build.yml
  agent_build/package_builders.py
  docker/k8s-config-restart-agent-on-monitor-death/agent.d/docker.json
  scripts/cicd/publish-docker-images-tags.py
  tests/package_tests/all_package_tests.py
Labels: monitors: kubernetes, environment: kubernetes, platform: kubernetes

#950 CT-574 Migrate Unittests from CircleCI to GHA
  .github/workflows/unittests.yml
  agent_build/requirement-files/testing-requirements.txt
  tox.ini
Labels: service: gha, ci/cd

#959 Calculate deltas (rates) for metrics which are required for the Kubernetes Explorer functionality
  .github/workflows/end_to_end_tests.yml
  CHANGELOG.md
  scalyr_agent/builtin_monitors/kubernetes_openmetrics_monitor.py
  scalyr_agent/metrics/base.py
  scalyr_agent/metrics/functions.py
  tests/e2e/k8s_om_monitor/scalyr-agent-2-daemonset.yaml
  tests/e2e/k8s_om_monitor/scalyr-agent-extra-config-configmap.yaml
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
Labels: monitors: kubernetes open metrics, environment: kubernetes

#956 CT-575 Create lint GHA workflow
  .github/workflows/lint.yml
Labels: tests: lint checks, service: gha, ci/cd

#963 Fix an edge case with the client side metric rate calculation
  scalyr_agent/metrics/functions.py
  tests/unit/scalyr_logging_test.py
  tests/unit/test_metrics_functions.py
Labels: bug, kubernetes, functionality: agent rate calculation

#964 Log warning message in case of unknown connection error
  CHANGELOG.md
  scalyr_agent/scalyr_client.py
Labels: code: logging

#965 Update Kubernetes OpenMetrics monitor to also calculate rate for "container_network_transmit_bytes_total" and "container_network_receive_bytes_total" metric
  .github/workflows/end_to_end_tests.yml
  scalyr_agent/builtin_monitors/kubernetes_openmetrics_monitor.py
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
Labels: monitors: kubernetes open metrics, environment: kubernetes, functionality: agent rate calculation

#958 CT-578 Add codespeed workflow for GHA
  .github/workflows/codespeed.yml
Labels: service: gha, ci/cd

#962 Configure cron job and slack notifications for new GHA workflows
  .github/workflows/lint.yml
  .github/workflows/unittests.yml
Labels: service: gha, ci/cd

#968 Pre release dependencies update
  .gitignore
  agent_build/requirement-files/compression-requirements.txt
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build/requirement-files/main-requirements.txt
  agent_build/requirement-files/testing-requirements.txt
Labels: dependencies, dependencies: python

#961 Remove Circle CI jobs which have been been migrated to Github Actions
  .circleci/config.yml
  .coveragerc
  .github/workflows/unittests.yml
  codecov.yml
Labels: service: circle ci, ci/cd

#967 CT-579 Add tox standalone smoketests to GHA
  .github/workflows/unittests.yml
  tox.ini
Labels: service: gha, tests: smoke tests

#973 CT-573 Fix coverage issues with smoke tests
  .coveragerc
  .github/workflows/end_to_end_tests.yml
  codecov.yml
Labels: tests: code coverage, tests: smoke tests

#975 CT-577 Add codespeed agent benchmark jobs to GHA
  .github/workflows/codespeed-agent-benchmarks.yaml
  .github/workflows/codespeed.yml
  benchmarks/scripts/requirements.txt
Labels: continuous benchmarking, service: gha, ci/cd

#979 Add support for new tracemalloc memory profiler (Python >= 3.5)
  CHANGELOG.md
  scalyr_agent/configuration.py
  scalyr_agent/profiler.py
  tests/unit/configuration_test.py
  tests/unit/test_profilers.py
Labels: profiling

#977 Add new Ci/CD workflow with images build
  .github/actions/execute-runner/README.md
  .github/actions/execute-runner/action.yml
  .github/actions/execute-runner/dist/index.js
  .github/actions/execute-runner/index.js
  .github/actions/execute-runner/package-lock.json
  .github/actions/execute-runner/package.json
  .github/actions/init-job-matrices/action.yml
  .github/workflows/agent-build-refactored.yml
  .gitignore
  agent_build_refactored/docker_image_builders.py
  agent_build_refactored/scripts/get_github_actions_job_matrices.py
  agent_build_refactored/tools/runner.py
Labels: distribution: docker image, ci/cd

#983 Windows event monitor json api to use dottedEscapedJson parser
  scalyr_agent/builtin_monitors/windows_event_log_monitor.py
Labels: monitors: windows event log

#984 Update syslog monitor to ignore invalid utf-8 byte sequences
  CHANGELOG.md
  scalyr_agent/builtin_monitors/syslog_monitor.py
  tests/unit/syslog_monitor_test.py
Labels: monitors: syslog

#987 Don't skip Github Action job runs on master branch merge / push
  .github/actions/setup-minikube-cluster/action.yml
  .github/workflows/agent-build-refactored.yml
  .github/workflows/codespeed.yml
  .github/workflows/end_to_end_tests.yml
  .github/workflows/unittests.yml
  scripts/cicd/scalyr-query.sh
Labels: service: gha
