Repository scalyr/scalyr-agent-2, pull requests merged in 2022-11, with the labels that each got.

#1010 DSET-767 Make leader candidate label configurable
  docs/monitors/kubernetes_events_monitor.md
  scalyr_agent/builtin_monitors/kubernetes_events_monitor.py
  tests/unit/configuration_k8s_test.py
Labels: code: agent status

#1020 Try adding "securityContext.allowPrivelegeEscalation: false" to the agent container
  CHANGELOG.md
  k8s/default-namespace/scalyr-agent-2.yaml
  k8s/no-kustomize/scalyr-agent-2.yaml
  k8s/scalyr-agent-2-envfrom.yaml
  k8s/scalyr-agent-2.yaml
  tests/e2e/scalyr-agent-2-daemonset.yaml
Labels: environment: kubernetes

#1017 DSET-680 Extend agent status
  CHANGELOG.md
  agent_build/docker/Dockerfile.base
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build_refactored/docker/dockerfiles/install-python-libs-build-dependencies.sh
  scalyr_agent/agent_main.py
  scalyr_agent/agent_status.py
  scalyr_agent/monitor_utils/k8s.py
  tests/ami/scripts/test_windows.ps1.j2
  tests/unit/agent_status_test.py
Labels: code: agent status, debug info / troubleshooting

#1021 Also run some micro + process level benchmarks under Python 3.11
  .github/workflows/codespeed-microbenchmarks.yml
  agent_build/requirement-files/compression-requirements.txt
  agent_build/requirement-files/docker-image-requirements.txt
  agent_build/requirement-files/testing-requirements.txt
  benchmarks/micro/test_compression_algorithms.py
  benchmarks/scripts/requirements.txt
  tox.ini
Labels: continuous benchmarking, micro benchmarks

#1024 DSET-840: Adjust memory_stats.usage for consistency with other tools
  CHANGELOG.md
  RELEASE_NOTES.md
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
Labels: monitors: kubernetes
