Repository scalyr/scalyr-agent-2, pull requests merged in 2022-04, with the labels that each got.

#856 Allow custom timestamp to be specified for emitted metric log lines
  scalyr_agent/builtin_monitors/openmetrics_monitor.py
  scalyr_agent/scalyr_logging.py
  tests/unit/builtin_monitors/openmetrics_monitor_test.py
  tests/unit/scalyr_logging_test.py
Labels: monitors: kubernetes open metrics

#850 DOC-174 revisions, including _doc_, for nginx, apache, journald, graphite
  docs/monitors/apache_monitor.md
  docs/monitors/graphite_monitor.md
  docs/monitors/journald_monitor.md
  docs/monitors/linux_system_metrics.md
  docs/monitors/mysql_monitor.md
  docs/monitors/nginx_monitor.md
  docs/monitors/postgres_monitor.md
  docs/monitors/tomcat_monitor.md
  scalyr_agent/builtin_monitors/apache_monitor.py
  scalyr_agent/builtin_monitors/graphite_monitor.py
  scalyr_agent/builtin_monitors/journald_monitor.py
  scalyr_agent/builtin_monitors/linux_system_metrics.py
  scalyr_agent/builtin_monitors/mysql_monitor.py
  scalyr_agent/builtin_monitors/nginx_monitor.py
  scalyr_agent/builtin_monitors/postgres_monitor.py
  scalyr_agent/builtin_monitors/tomcat_monitor.py
Labels: documentation

#858 Fix small debug log message issue in the k8s utils
  scalyr_agent/monitor_utils/k8s.py
  tests/unit/builtin_monitors/kubernetes_monitor_test.py
Labels: kubernetes, monitors: kubernetes
