Repository scalyr/scalyr-agent-2, pull requests merged in 2022-05, with the labels that each got.

#869 Upgrade paramiko, libcloud dependency used by the AMI tests
  .circleci/config.yml
  scripts/circleci/run-ami-tests-in-bg.sh
  tests/ami/packages_sanity_tests.py
  tests/ami/requirements.txt
  tests/ami/scripts/test_rpm.sh.j2
Labels: dependencies, tests: ami

#864 Add extra logging for troubleshooting duplicate log ingestion.
  CHANGELOG.md
  scalyr_agent/configuration.py
  scalyr_agent/copying_manager/copying_manager.py
  scalyr_agent/platform_posix.py
  scalyr_agent/util.py
  tests/smoke_tests/verifier.py
  tests/unit/test_util_test.py
Labels: code: logging

#863 CT-523
  CHANGELOG.md
  scalyr_agent/copying_manager/worker.py
  scalyr_agent/scalyr_client.py
  tests/unit/copying_manager_tests/copying_manager_test.py
Labels: component: scalyr http client

#873 Upgrade Docker images from Python 3.8.13 to 3.8.13
  CHANGELOG.md
  VERSION
  agent_build/docker/Dockerfile
  agent_build/docker/Dockerfile.base
Labels: dependencies, dependencies: python

#874 Upgrade dependencies
  .circleci/config.yml
  agent_build/package_builders.py
  agent_build/requirement-files/compression-requirements.txt
  agent_build/requirement-files/main-requirements.txt
  agent_build/tools/environment_deployments/deployments.py
  benchmarks/scripts/utils.py
  build_package_new.py
  lint-configs/python/.flake8
  lint-requirements.txt
  scalyr_agent/builtin_monitors/docker_monitor.py
  scalyr_agent/builtin_monitors/kubernetes_monitor.py
  scalyr_agent/builtin_monitors/windows_process_metrics.py
  scalyr_agent/builtin_monitors/windows_system_metrics.py
  scalyr_agent/scalyr_logging.py
  scalyr_agent/util.py
  setup.py
  tests/ami/cleanup_old_test_instances.py
  tests/ami/requirements.txt
  tests/ami/scripts/test_deb.sh.j2
  tests/ami/scripts/test_rpm.sh.j2
  tests/package_tests/internals/common.py
  tests/unit/connection_test.py
  tests/unit/copying_manager_tests/copying_manager_unittest_test.py
  tests/unit/monitor_utils/k8s_test.py
Labels: dependencies

#879 AMI tests changes and improvements
  scripts/circleci/run-ami-tests-in-bg.sh
  tests/ami/packages_sanity_tests.py
Labels: tests: ami

#878 Bug fix for Kubernetes Events Monitor
  CHANGELOG.md
  scalyr_agent/builtin_monitors/kubernetes_events_monitor.py
  tests/ami/scripts/test_rpm.sh.j2
Labels: monitors: kubernetes, monitors: kubernetes events

#883 Update re-attempt log entries to be warnings
  scalyr_agent/scalyr_client.py
Labels: code: logging

#887 Add support for defining arbitrary attributes which are included with every metric in the Open Metrics monitor
  .github/workflows/end_to_end_tests.yml
  scalyr_agent/builtin_monitors/kubernetes_openmetrics_monitor.py
  scalyr_agent/builtin_monitors/openmetrics_monitor.py
  tests/e2e/k8s_om_monitor/java_app_deployment.yaml
  tests/unit/builtin_monitors/kubernetes_openmetrics_monitor_test.py
  tests/unit/builtin_monitors/openmetrics_monitor_test.py
Labels: monitors: kubernetes open metrics, environment: kubernetes
