Repository scalyr/scalyr-agent-2, pull requests merged in 2023-01, with the labels that each got.

#1058 Update setup minikube GHA action to latest version
  .github/actions/setup-minikube-cluster/action.yml
Labels: service: gha, github_actions

#1066 [DSET-1476] update python image for docker images
  CHANGELOG.md
  agent_build/docker/Dockerfile
  agent_build/docker/Dockerfile.base
  agent_build/tools/environment_deployments/deployments.py
  agent_build/tools/environment_deployments/steps/build_base_docker_image/slim-bullseye.sh
Labels: distribution: docker image

#1067 Also upgrade setuptools in the Alpine Docker image, pin setuptools
  CHANGELOG.md
  agent_build/docker/Dockerfile.base
  agent_build_refactored/tools/run_in_ec2/boto3_tools.py
Labels: distribution: docker image

#1069 Don't build and push obsolete Docker images
  agent_build/package_builders.py
  agent_build_refactored/docker_image_builders.py
  agent_build_refactored/tools/constants.py
  scripts/cicd/publish-docker-images-tags.py
  tests/package_tests/all_package_tests.py
Labels: distribution: docker image

#1077 Update scalyr query utility script
  scripts/cicd/scalyr-query.sh
Labels: tests: end to end tests
