Repository scalyr/scalyr-agent-2, pull requests merged in 2023-02, with the labels that each got.

#1080 Fix syslog micro benchmark, also run micro benchmarks on non-master branches
  .github/workflows/codespeed-agent-benchmarks.yaml
  .github/workflows/codespeed-microbenchmarks.yml
  benchmarks/micro/test_syslog_parsing.py
Labels: micro benchmarks

#1081 [DSET-1648] Fix "skip duplicate" GHA workflow conditionals, move re-usable workflows to a sub-directory, use github.ref_name context variable
  .github/workflows/agent-build-new.yml
  .github/workflows/agent-build.yml
  .github/workflows/codespeed-benchmarks.yml
  .github/workflows/end_to_end_tests.yml
  .github/workflows/lint.yml
  .github/workflows/reusable-agent-build-linux-packages-new.yml
  .github/workflows/reusable-codespeed-agent-benchmarks.yaml
  .github/workflows/reusable-publish-docker-images.yml
  .github/workflows/unittests.yml
Labels: service: gha, github_actions

#1083 remove packagecloud publishing jobs.
  .github/workflows/reusable-agent-build-linux-packages-new.yml
Labels: packaging, service: gha, distribution: rpm/deb packages

#1089 [DTIN-2240] Remove dependency packages
  .github/workflows/agent-build-new.yml
  .github/workflows/agent-build.yml
  .github/workflows/reusable-agent-build-linux-packages-new.yml
  .gitignore
  RELEASE_NOTES.md
  agent_build_refactored/managed_packages/build_dependencies_versions.py
  agent_build_refactored/managed_packages/files/additional-requirements.txt
  agent_build_refactored/managed_packages/files/bin/agent-libs-config
  agent_build_refactored/managed_packages/files/bin/agent-python3-config
  agent_build_refactored/managed_packages/files/bin/python3
  agent_build_refactored/managed_packages/files/bin/scalyr-agent-2
  agent_build_refactored/managed_packages/files/bin/venv-python3
  agent_build_refactored/managed_packages/files/init.d/scalyr-agent-2
  agent_build_refactored/managed_packages/install-scriptlets/postinstall.sh
  agent_build_refactored/managed_packages/install-scriptlets/preuninstall.sh
  agent_build_refactored/managed_packages/managed_packages_builders.py
  agent_build_refactored/managed_packages/scalyr_agent_libs/additional-requirements.txt
  agent_build_refactored/managed_packages/scalyr_agent_libs/install-scriptlets/postinstall.sh
  agent_build_refactored/managed_packages/scalyr_agent_libs/python3
  agent_build_refactored/managed_packages/scalyr_agent_python3/agent-python3-config
  agent_build_refactored/managed_packages/scalyr_agent_python3/install-scriptlets/postinstall.sh
  agent_build_refactored/managed_packages/steps/build_agent_libs_package_root.sh
  agent_build_refactored/managed_packages/steps/build_agent_libs_venv.sh
  agent_build_refactored/managed_packages/steps/build_dev_requirements.sh
  agent_build_refactored/managed_packages/steps/build_python.sh
  agent_build_refactored/managed_packages/steps/build_python_package_root.sh
  agent_build_refactored/managed_packages/steps/prepare_python_environment.sh
  agent_build_refactored/tools/runner.py
  docs/CREATING_MONITORS.md
  tests/end_to_end_tests/managed_packages_tests/conftest.py
  tests/end_to_end_tests/managed_packages_tests/test_packages.py
  tests/end_to_end_tests/managed_packages_tests/verify_python_interpreter.py
  tests/end_to_end_tests/run_in_remote_machine/portable_pytest_runner.py
  tests/end_to_end_tests/run_in_remote_machine/steps/build_pytest_runner.py
Labels: frozen binaries
